/* #canvas {
  display: block;
  max-width: 500px;
  max-height: 200px;
} */

/* для Chrome/Edge/Safari */

/* .buttonVolume {
  margin: 40px;
  width: 20em;
  height: 5em;
  position: relative;
} */

/* .buttonVolumeUp {
  margin: 0;
  padding: 0;
  background: inherit;
  display: inline-block;
  border: 20px solid transparent;
  border-left: 48px solid #214a4b8d;
  opacity: 0.6;
  position: relative;
}

.buttonVolumeUp:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -48px;
  border: 20px solid transparent;
  border-left: 40px solid #00adb08d;
} */
