
* {
  scrollbar-width: thin;
  scrollbar-color: var(--crollbarColor1) var(--scrollbarColor2);
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  margin-top: 14px;
  height: 12px;
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumbBg);
  border-radius: 5px;
  border: 1px solid var(--scrollbarThumbBorder);
  padding-top: 14px;
  margin-top: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: var(--colorPrimary);

}
