.content
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    " header header header header header header header header header"\
    "sbLeft sbLeft main main main main main sbRight sbRight"\
    "footer footer footer footer footer footer footer footer footer "\


.page__section
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;

.main
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0 0;
  padding: 0;
  grid-area: main;
  max-height: calc(100vh - 100px - 100px - 8px);

  &__levelVolume-title
    margin: 0 auto;
    color: #026061;
    font-weight: 100;
    font-size: 14px;
