.radioPlayer
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 200px 100px;
  position: relative;
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  min-height: 50%;
  border-radius: 20px;
  padding: 40px 0;

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.2), 0 0 0 1px #00adb08d,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: auto;
  color: var(--white);

  &__img
    border-radius: 120px;
    display: block;
    margin: auto;
    max-width: 200px;
    width: 100%;
    height: 100%;

  &__info
    text-align: center;
    z-index: 1;
    position: relative;

  &__title
    margin: 24px auto;
    font-weight: 600;
    max-width: 80%;
