
VariablePair(name, val)
  {unquote('--' + name)} : val

:root
  VariablePair('colorPrimary', hsl(0, 0%, 25%))
  VariablePair('buttonVolumeColor2',  hsl(0, 0%, 25%));

  VariablePair('popupBg', hsl(0, 0%, 65%));
  VariablePair('boxShadow', hsl(0, 0%, 65%));

  VariablePair('scrollbarColor1', hsl(0, 0%, 80%))
  VariablePair('scrollbarThumbBg', hsl(0, 0%, 80%));
  VariablePair('scrollbarColor2', hsl(0, 0%, 80%));
  VariablePair('scrollbarTrack', hsl(0, 0%, 80%));

  VariablePair('sliderVolume__inputBg', hsl(0, 0%, 50%));
  VariablePair('sliderVolume__tickColor', hsl(0, 0%, 50%));

  VariablePair('textMainTitle', hsl(0, 0%, 30%));
  VariablePair('textFooter', hsl(0, 0%, 30%));
  VariablePair('radioList__Title', hsl(0, 0%, 30%));

  VariablePair('scrollbarThumbBorder', hsl(0, 0%, 45%));
  VariablePair('buttonVolumeColor1', hsl(0, 0%, 45%));

  VariablePair('white', hsl(0, 0%, 54%))
  VariablePair('buttonDelete', hsl(0, 0%, 54%));

  VariablePair('colorLike', hsl(14, 89%, 53%))


// :root
//   VariablePair('colorPrimary', hsl(181, 94%, 20%))
//   VariablePair('buttonVolumeColor2',  hsl(181, 94%, 20%));

//   VariablePair('popupBg', hsl(181, 94%, 25%));
//   VariablePair('boxShadow', hsl(181, 100%, 25%));

//   VariablePair('scrollbarColor1', hsl(181, 94%, 35%))
//   VariablePair('scrollbarThumbBg', hsl(181, 94%, 35%));
//   VariablePair('scrollbarColor2', hsl(181, 94%,35%));
//   VariablePair('scrollbarTrack', hsl(181, 94%, 35%));

//   VariablePair('sliderVolume__inputBg', hsl(181, 94%, 55%));
//   VariablePair('sliderVolume__tickColor', hsl(181, 94%, 55%));

//   VariablePair('textMainTitle', hsl(181, 94%, 70%));
//   VariablePair('textFooter', hsl(181, 94%, 70%));
//   VariablePair('radioList__Title', hsl(181, 94%, 70%));

//   VariablePair('scrollbarThumbBorder', hsl(181, 94%, 10%));
//   VariablePair('buttonVolumeColor1', hsl(181, 94%, 10%));

//   VariablePair('white', hsl(0, 0%, 84%))
//   VariablePair('buttonDelete', hsl(0, 0%, 100%));

//   VariablePair('colorLike', hsl(14, 89%, 53%))
